[mysqld]
innodb_buffer_pool_size = 12G
thread_cache_size = 50
table_open_cache = 2048
query_cache_size = 256M
query_cache_limit = 2M
innodb_log_buffer_size = 16M
innodb_log_file_size = 512M
max_connections = 500
join_buffer_size = 4M
tmp_table_size = 256M
max_heap_table_size = 256M
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/slow-query.log
long_query_time = 2
skip-name-resolve
