aiofiles==23.2.1
annotated-types==0.5.0
async-timeout==4.0.3
hiredis==2.2.3
html5tagger==1.3.0
httptools==0.6.0
mayim==1.1.0
multidict==6.0.4
orjson==3.9.5
psycopg==3.1.10
psycopg-binary==3.1.10
psycopg-pool==3.1.7
pydantic==2.2.1
pydantic_core==2.6.1
PyYAML==6.0.1
redis==5.0.0
sanic==23.6.0
sanic-ext==23.6.0
sanic-routing==23.6.0
style==1.1.0
tracerite==1.1.0
typing_extensions==4.7.1
ujson==5.8.0
update==0.0.1
uvloop==0.17.0
websockets==11.0.3
